<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <servlet>
        <servlet-name>SnakeServlet2</servlet-name>
        <servlet-class>Controller.SnakeServlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SnakeServlet2</servlet-name>
        <url-pattern>/SnakeServlet2</url-pattern>
    </servlet-mapping>
</web-app>
<dependency>
    <groupId>com.google.cloud.sql</groupId>
    <artifactId>mysql-socket-factory-connector-j-8</artifactId>
    <version>1.11.1</version>
</dependency>